@use "../styles/colors" as *;

$step-number-size: 2.0625rem;

.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 10.75rem;
  padding: 2rem 0 6.6875rem;
  background-image: url("../assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (min-width: 1024px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    width: 17.125rem;
    height: 35.5rem;
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    padding: 2.5rem 2rem;
  }
}

.step {
  display: flex;
  flex-direction: column;
  min-height: $step-number-size;

  @media only screen and (min-width: 1024px) {
    position: relative;
    padding-left: calc($step-number-size + 1rem);
  }
}

.stepNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid white;
  color: white;
  width: $step-number-size;
  height: $step-number-size;
  font-weight: 700;
  translate:
    color 100ms ease-in,
    background-color 100ms ease-in;

  &.active {
    color: $marine-blue;
    background-color: $light-blue;
    border-width: 0;
  }

  @media only screen and (min-width: 1024px) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.stepId {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: unset;
    text-transform: uppercase;
    color: $pastel-blue;
  }
}

.stepName {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: unset;
    margin-top: 0.25rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: $white;
  }
}
